@import "tailwindcss";

.portfolio-btn{
    @apply bg-white w-fit py-2 px-4 border border-gray-300 rounded-full text-gray-600 
    [.active]:bg-orange-500 [.active]:text-white [.active]:font-bold [.active]:border-0 transition-all
    [.active]:shadow-lg hover:shadow-lg 
    hover:bg-orange-500 hover:text-white hover:font-bold hover:border-0 cursor-pointer
}